{% extends 'etudiants_app/base.html' %}

{% block titre %}Gestion des informations des etudiants{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-8 offset-2">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Modifier">
                <a href="{% url 'gestions_informations_etudiants' %}" class="btn btn-info">Retour à l'accueil</a>
            </form>
        </div>
    </div>
{% endblock %}